<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body" style="margin: 20px">
      <%= form_with(model: @attendances_need_change_approvals, url: attendances_update_approving_change_user_path(@user), local: true, method: :patch) do |f| %>
        <% @users_need_change_approvals.each do |user| %>
          <h4 style="text-align:center">【<%= user.name %>からの残業申請】</h4>
          <table class="table table-bordered" id="table-approving-overtime">
            <thead>
              <tr>
                <td>日付</td>
                <td>曜日</td>
                <td>開始時刻</td>
                <td></td>
                <td>終了時刻</td>
                <td></td>
                <td>備考</td>
                <td>指示者確認㊞</td>
                <td>変更</td>
                <td>勤怠を確認する</td>
              </tr>
            </thead>
            <tbody>
              <% @attendances_need_change_approvals.each do |day| %>
                <% if day.user_id == user.id %>
                  <%= f.fields_for "attendances_need_change_approvals[]", day do |attendance| %>
                    <tr>
                      <td><%= l(day.worked_on, format: :short) %></td>
                      <td><%= $days_of_the_week[day.worked_on.wday] %></td>
                      <% #debugger %>
                      <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
                      <td><%= l(day.started_at.floor_to(time_unit.minutes), format: :minute) if day.started_at.present? %></td>
                      <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
                      <td><%= l(day.finished_at.floor_to(time_unit.minutes), format: :minute) if day.finished_at.present? %></td>
                      <td><%= day.overtime_note %></td>
                      <td><%= attendance.select :status, Attendance.statuses.keys.map { |k| [I18n.t("enums.attendance.status.#{k}"), k]} %></td>
                      <td><%= check_box :approve_change, day.id, id: "approve-change" %></td>
                      <td><%= link_to "確認", user_url(user), class: "btn btn-primary" %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <%= f.submit "変更を送信する", class: "btn btn-primary col-md-3 col-md-offset-5" %>
      <% end %>
    </div>
  </div>
</div>